/* header styling*/
/* h3{
    color: rgb(16, 16, 174);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
} */

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    padding: 15px;
}

